.doctor{
    
    height:500px;
 
    background-image: url("/static/img/1.jpg");
    background-size: 100% 100%;
}
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
*{
    font-family:'Poppins', sans-serif;
    
} 
.btn{
    position:absolute;
    top:55%;
    left:38%;
    
}
.btn a{
    text-decoration: none;
    color:white;
    padding:5px;
}
@media(max-width:768px){
    .doctor{
        height:250px;
    }
   
    .btn{
        position:absolute;
        top:20%;
        left:35%;
   
        
    }
    .btn a{
       font-size: 6px;
        padding:1px;
    }    
}

@media(min-width:769px) and (max-width:1024px){
    .doctor{
        height:500px;
    }
   
    .btn{
        position:absolute;
        top:22%;
        left:40%;
   
        
    }
    .btn a{
       
        padding:2px;
    } 
}